.Totals {
  color: #dadee0;
  font-size: 12px;
  text-align: end;
  width: 100%;

  &-Impressions {
    font-size: 16px;
    font-weight: 700;
    color: rgba(235, 150, 75, .95);
    cursor: pointer;
  }

  &-Conversions {
    font-size: 16px;
    font-weight: 700;
    color: rgba(55, 137, 190, .95);
    cursor: pointer;
  }

  &-Revenue {
    font-size: 24px;
    font-weight: 900;
    color: rgba(40, 174, 97, .95);
    cursor: pointer;
  }
}